<!DOCTYPE html>
<html lang="zh-CN"><!-- InstanceBegin template="/Templates/start.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>汇富e家-比特币支付</title>
<!-- InstanceEndEditable -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/static/public/images/favicon.ico">
<link href="/static/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/public/bootstrap/css/flat-ui.min.css" rel="stylesheet">
<link href="/static/public/css/Public/nav.css" rel="stylesheet">
<link href="/static/public/css/base.css" rel="stylesheet">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
  <script src="/static/publicbootstrap/js/html5shiv.js"></script>
  <script src="/static/publicbootstrap/js/respond.min.js"></script>
<![endif]-->
<!-- InstanceBeginEditable name="css" -->
<style type="text/css">
</style>
<!-- InstanceEndEditable -->
</head>
<body>
    <header>
       {include file='public/nav.html'}
    </header>

    <!-- InstanceBeginEditable name="body" -->
    <div class="container">
      <h1>Hello, world!</h1>
      <img src="{$qrcode}" title="比特币地址二维码">
    </div>
    <!-- InstanceEndEditable -->
     <footer>
       {include file='public/footer.html'}
    </footer>
<script src="/static/public/bootstrap/js/jquery.min.js"></script>
<script src="/static/public/bootstrap/js/flat-ui.min.js"></script>
<!-- InstanceBeginEditable name="js" -->
<script type="text/javascript">
</script>
<!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>
