<!DOCTYPE html>
<html lang="zh-CN"><!-- InstanceBegin template="/Templates/account.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>汇富e家-我的投资</title>
<!-- InstanceEndEditable -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/static/public/images/favicon.ico">
<link href="/static/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/public/bootstrap/css/flat-ui.min.css" rel="stylesheet">
<link href="/static/public/css/Public/nav.css" rel="stylesheet">
<link href="/static/public/css/base.css" rel="stylesheet">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
  <script src="/static/publicbootstrap/js/html5shiv.js"></script>
  <script src="/static/publicbootstrap/js/respond.min.js"></script>
<![endif]-->
<!-- InstanceBeginEditable name="css" -->
<link rel="stylesheet" href="/static/public/webix/webix.css">
<style type="text/css">
.container{
	margin-top:2%;
	padding-top:0%;
	padding-bottom:1%;
}
#aside{
	width:19%;
	float:left;
}
#aside a{
	text-align:center;
	font-size:130%;
	padding-left:6%;
	padding-bottom:6%;
}
#main{
	width:80%;
	float:right;
	background:#FFF;
	padding:2%;
	min-height:520px;
}
#investhistory{
	width:85%;
	margin:0 auto;
}
.webix_style .webix_hcell{
	text-align:center;
	font-size:90%;
	background-color:#F0F1F2;
}
.webix_style .webix_column{
	font-size:80%;
	text-align:center;
}
</style>
<!-- InstanceEndEditable -->
</head>
<body>
    <header>
       {include file='public/nav.html'}
    </header>

    <!-- InstanceBeginEditable name="body" -->
    	<div class="container">

       {include file='./left_side.html'}

        <div class="row" id="main">
        	<p style="font-weight:bold; margin-left:6%;">我的投资</p>
            <div id="investhistory">
          		<div id="investtable"></div>
         	</div>
        </div><!--endmain-->

    </div><!--end container-->
    <!-- InstanceEndEditable -->
     <footer>
       {include file='public/footer.html'}
    </footer>
<script src="/static/public/bootstrap/js/jquery.min.js"></script>
<script src="/static/public/bootstrap/js/flat-ui.min.js"></script>
<!-- InstanceBeginEditable name="js" -->
<script type="text/javascript" src="/static/public/webix/webix.js"></script>
<script type="text/javascript">
$(document).ready(function(e) {
 	  webix.protoUI({
				name:"mytable",
				$init:function(config){
					config.autowidth = true;
					config.autoheight = true;
					config.minHeight =  50;
					this.attachEvent("onAfterLoad", function(){
						if (!this.count())
							this.showOverlay("您暂时还没有记录");
					});
				}
			}, webix.ui.datatable);
	grida=new webix.ui({
					container:"investtable",
					css:"webix_style",
					//margin:2,
					rows:[
						{
							view:"pager",
							id:"pager",
							animate:{
								direction:"top"
							},
							size:10,
							group:5,
						},
						{
							view:"mytable",
							//height:"200",
							columns:[
								//{ id:"ID",	header:"ID" , 	sort:"int", sort:sortByTime, css:{ "color":"red"}},
								{ id:"num",header:"序号", width:80,	},
								{ id:"time",	header:"投资时间" , width:220,	sort:"int"},
								{ id:"pid",	header:"投资项目" , width:250,},
								{ id:"invest",	header:"投资金额" , width:150,	sort:"int"},
							],
							pager:"pager",
							scroll:false,
							url:"__APP__/Account/investhistory"
						},
						{}
					]
	})
});
</script>
<!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>
