<!DOCTYPE html>
<html lang="zh-CN"><!-- InstanceBegin template="/Templates/start.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>汇富e家-会员登陆</title>
<!-- InstanceEndEditable -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="/static/public/images/favicon.ico">
<link href="/static/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/public/bootstrap/css/flat-ui.min.css" rel="stylesheet">
<link href="/static/public/css/Public/nav.css" rel="stylesheet">
<link href="/static/public/css/base.css" rel="stylesheet">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
  <script src="/static/publicbootstrap/js/html5shiv.js"></script>
  <script src="/static/publicbootstrap/js/respond.min.js"></script>
<![endif]-->
<!-- InstanceBeginEditable name="css" -->
<style type="text/css">
.container{
	margin-top:5%;
	background:#1ABC9C;
}
#main{
	padding:4% 2% 2% 0;
}
.login-form{

}
</style>
<!-- InstanceEndEditable -->
</head>
<body>
    <header>
       {include file='public/nav.html'}
    </header>

    <!-- InstanceBeginEditable name="body" -->
    <div class="container">
    	 <div class="col-md-5" id="main">
            <form class="login-form">
            	<div class="form-group">
                	<p>汇富e家 | 会员登陆</p>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control login-field" value="" placeholder="手机" id="username" name="username" />
                  <label class="login-field-icon fui-user" for="username"></label>
                </div>

                <div class="form-group">
                  <input type="password" class="form-control login-field" value="" placeholder="密码" id="password" name="password" />
                  <label class="login-field-icon fui-lock" for="password"></label>
                </div>

                <div class="form-group">
                	<div class="row">
                        <div class="col-md-6">
                          <input type="text" class="form-control login-field" value="" placeholder="图形验证码" id="vycode" />
                        </div>
                        <div class="col-md-6">
                            <img src="__APP__/Validate/vyCode" title="图形验证码" id="codeimg">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                </div>
    			<div class="form-group">
                	<input type="submit" class="btn btn-primary btn-lg btn-block" value="登  陆">
                </div>

            </form><!--endloginform-->
     	</div><!--endmain-->

        <div class="col-md-7" id="aside">
      		<img src="/static/public/images/login-bg.png" height="99%;">
        </div><!--endaside-->
    </div><!--endcontainer-->
    <!-- InstanceEndEditable -->
     <footer>
       {include file='public/footer.html'}
    </footer>
<script src="/static/public/bootstrap/js/jquery.min.js"></script>
<script src="/static/public/bootstrap/js/flat-ui.min.js"></script>
<!-- InstanceBeginEditable name="js" -->
<script src="/static/public/js/validate.js" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function(e) {

	$("#codeimg").click(function(){
			$(this).attr("src","__APP__/Validate/vyCode?"+Math.random());
	});

	var vyCodeCheckUrl = "__APP__/Validate/vyCodeCheck";

	function usernameCheck(){
		var username=$("#username").val();
		if(username==""){
			$('#username').popover('destroy');
			$("#username").popover({
				"container": "body",
				"trigger": "click",
				"content": "请输入您的手机号码"
			});
			$("#username").focus();
			$("#username").popover('show');
			return false;
		}
		$('#username').popover('destroy');
		return true;
	}
	function pwCheck(){
		var password=$("#password").val();
		if(password==""){
			$('#password').popover('destroy');
			$("#password").popover({
				"container": "body",
				"trigger": "click",
				"content": "请输入您的登陆密码"
			});
			$("#password").focus();
			$("#password").popover('show');
			return false;
		}
		$('#password').popover('destroy');
		return true;
	}

	//$("#username").blur(function(){
//		usernameCheck();
//	})
//	$("#password").blur(function(){
//		pwCheck();
//	})
//	$("#vycode").blur(function(){
//		vyCodeCheck(vyCodeCheckUrl);
//	})

	$("input:submit").click(function(event){
		if(usernameCheck()==false){ return false;};
		if(pwCheck()==false){ return false;};
		if(vyCodeCheck(vyCodeCheckUrl)==false){ return false;};
		var str=$("form").serialize();
		$.ajax({
			url:"__APP__/User/loginCheck",
			data:str,
			type:"post",
			dataType:"text",
			success: function(data){
				var data=eval(data);
				if(data){
					window.location.href = "__APP__";
				}else{
					$('#username').popover('destroy');
					$("#username").popover({
						"container": "body",
						"trigger": "click",
						"content": "您输入的手机或密码错误"
					});
					$("#username").focus();
					$("#username").popover('show');
					return false;
				}
			},
			error: function(){  }

		});
		event.preventDefault();
	})
});
</script>
<!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>
