<!DOCTYPE html>
<html lang="zh-CN"><!-- InstanceBegin template="/Templates/start.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta charset="utf-8">
<!-- InstanceBeginEditable name="doctitle" -->
<title>汇富e家-关于我们</title>
<!-- InstanceEndEditable -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">  
<link rel="shortcut icon" href="__PUBLIC__/images/favicon.ico">
<link href="__PUBLIC__/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="__PUBLIC__/bootstrap/css/flat-ui.min.css" rel="stylesheet">
<link href="__PUBLIC__/css/Public/nav.css" rel="stylesheet">
<link href="__PUBLIC__/css/base.css" rel="stylesheet">
<!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
<!--[if lt IE 9]>
  <script src="__PUBLIC__bootstrap/js/html5shiv.js"></script>
  <script src="__PUBLIC__bootstrap/js/respond.min.js"></script>
<![endif]-->
<!-- InstanceBeginEditable name="css" -->
<style type="text/css">
.container{
	margin-top:2%;
	padding-top:0%;
	padding-bottom:1%;
}
#aside{
	width:19%;
	float:left;
}
#aside a{
	text-align:center;
	font-size:130%;
	padding-left:6%;
	padding-bottom:6%;
}
#main{
	width:80%;
	float:right;
	background:#FFF;
	padding:2%;
	min-height:450px;
}
</style>
<!-- InstanceEndEditable -->
</head>
<body>
    <header>
       <include file="Public:nav"/>
    </header>
    
    <!-- InstanceBeginEditable name="body" -->
    <div class="container">
    
    	<div class="list-group" id="aside">
              <a href="__APP__/Static/aboutus" class="list-group-item active" id="borrowa" style="color:#FFF;">
              	<span class="glyphicon glyphicon-list"></span> &nbsp;&nbsp;关于我们</a>
        </div><!--end aside-->

  		<div class="row" id="main">   
        
        	<div id="about"> 
                <p class="bg-info">关于我们</p>     
                &nbsp; &nbsp; &nbsp; &nbsp;汇富e家（hf1j.com）是一个互联网金融服务平台，致力于比特币抵押借贷，隶属于无锡市红之杰商贸有限公司，
                汇富e家是最安全的P2P网袋平台，帮助持有比特币的用户盘活资金，为投资者提供安全无风险的高收益理财。
                目前当铺网已开始接受比特币的抵押借贷服务，近期还将推出莱特币、域名以及其他市场流通性较好的数字资产借贷服务。
                当铺网是一个专注于数字资产的P2P平台，在资产数字化的未来，我们的使命也很简单，只为盘活您的数字资产。<br>
            </div>
           
           <div id="contract">
                <br><br><p class="bg-info">联系我们</p>         
                地址：无锡市崇安区广益街道行政楼<br>
                汇富e家QQ群：428830989 <br> 
                中国比特币俱乐部QQ群：248877856
            </div>
            
            <div id="join">             
                <br><br><p class="bg-info">加入我们</p>              
                当铺网是一支在互联网和金融领域非常优秀的团队！<br>
                我们有梦有理想，我们积极乐观，脚踏实地，充满激情！<br>
                如果你也和我们一样，那么欢迎你加入我们的团队！<br>
                当铺网会为你提供<br>
                在全新的互联网金融行业里开启个人事业的机会<br>
                和富有竞争力的薪酬待遇<br>
                轻松惬意的工作氛围和充满活力的团队文化<br>
                完善的培训体系和更多的晋升机会<br><br>               
                请发送您的简历至 15261596915@163.com，标题请注明所申请职位。
            </div>
            
    	</div><!--end main-->
    </div><!--end container-->
    <!-- InstanceEndEditable -->
     <footer>
       <include file="Public:footer"/>
    </footer>
<script src="__PUBLIC__/bootstrap/js/jquery.min.js"></script>
<script src="__PUBLIC__/bootstrap/js/flat-ui.min.js"></script>
<!-- InstanceBeginEditable name="js" -->
<script type="text/javascript">
</script>
<!-- InstanceEndEditable -->
</body>
<!-- InstanceEnd --></html>
