<br /><b>Template:default</b></br>

<br /> <br /> <br /> <br /> <br /> <br /> <br /> <br />

<b>{$Name|upper}</b>

{if $age eq 1}
damon age is 1
{else}
<b>damon age is not 1</b>
{/if}
<br />

{section name=outer loop=$FirstName}
{if $smarty.section.outer.index is odd by 2}
    {$smarty.section.outer.rownum} . {$FirstName[outer]} {$LastName[outer]}
{else}
    {$smarty.section.outer.rownum} * {$FirstName[outer]} {$LastName[outer]}
{/if}
{sectionelse}
    none
{/section}

{include file='./show.html'}
